body {
  font-family: Arial, sans-serif;
  background: dimgray;
}

.container {
  max-width: 600px;
  margin: 30px auto;
  background: gray;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
}

#taskList li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#taskList li span {
  flex-grow: 1;
  cursor: pointer;
}

.delete-btn {
  background: red;
  color: black;
  border: none;
  padding: 5px 8px;
  cursor: pointer;
}

.add-task {
  margin-top: 15px;
  display: flex;
  gap: 5px;
}

.highlight {
  background: yellow;
}

input[type="text"], input[type="datetime-local"] {
  padding: 5px;
}
