* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #151922;
  color: #ddd;
  line-height: 1.6;
  padding-right: 420px;
}

/* ZDJĘCIE 1 */
body::before {
  content: "";
  position: fixed;
  top: 60px;
  right: 40px;
  width: 260px;
  height: 520px;
  background: url("6.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,.6);
}

/* ZDJĘCIE 2 */
body::after {
  content: "";
  position: fixed;
  top: 420px;
  right: 10px;
  width: 280px;
  height: 520px;
  background: url("7.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,.6);
}

/* ZDJĘCIE 3 */
header::after {
  content: "";
  position: fixed;
  top: 780px;
  right: 60px;
  width: 240px;
  height: 480px;
  background: url("8.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,.6);
}

/* TEKST */
header,
h2,
h3,
p,
ul {
  max-width: 700px;
  margin-left: 40px;
}

h1 {
  font-size: 2.6rem;
  color: #b388ff;
  margin-top: 40px;
}

h2 {
  margin-top: 30px;
  color: #9575cd;
  border-left: 4px solid #7e57c2;
  padding-left: 15px;
}

/* MOBILE */
@media (max-width: 900px) {

  body {
    padding-right: 0;
  }

  body::before,
  body::after,
  header::after {
    display: none;
  }

  header,
  h2,
  h3,
  p,
  ul {
    margin: 15px;
    max-width: none;
  }
}
